// @import "./variables";
// @import "./mixins";


header, footer{
  margin-left: 8%;
  background-color: #001C38;
  border-color: hsl(210, 100%, 11%);
  color: aliceblue; 
}

// il footer è centrato in fondo alla pagina
footer{
  margin-left: 40%;
}

body{
  margin: 0;
  background-color: #001C38;
  
}

/* .flex-container{
  display: flex;
  background-color: aquamarine;
  justify-content: space-evenly;
}

.flex-item {
  background-color: none;
  display: inline-block;
  width: 45%;
   
} */

/* //stile 1 fatto da Michela
nav{
  ul{
    list-style: none;

    li{
      display: inline-block;
      width: 25%;
      margin: 10px 0 0;
      text-align: center;
      background-color: rgb(54, 54, 54);
    }
    a{
      font-size: large;
      color: white;
    }
    a:hover {
      color: red;
    }
  }
}  */

//stile navbar SENZA bootstrap
/* nav {
  margin: 0 5%;
  
  ul {
    list-style: none;

    li {    
      display:inline-block;
      width: 15%;
      
      margin: 0px 0;
      padding: 20px;
      text-align: center;
      background-color: rgb(105, 21, 21);
      
      :nth-child(odd) {
        margin-right: 1ch;
      }
      
      a {
        width: 100%;
        height: 100%;
        padding: 5px 0;
        color: #fff;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        text-decoration: none;  
      }
      a:hover {
        color: rgb(219, 69, 83);
      }
      
    }
  }
} */
 
/* div{
  border: 2px solid white;
  border-radius: 5px ;
  padding:2%;

  & div{
    margin-right: 10%;
    padding-left: 8%;
    padding-bottom: 2%;
  }
} */

#nav {
  padding: 0px;
  text-align: center;
}

#nav a {
  font-weight: bold;
  color: #0468BF;
}

#nav a.router-link-exact-active {
  color: whitesmoke;
  background: #F67F3C;
  border-radius: .5rem;
}







